#nel{
   color:gold;
    font-size:15px;
    
    width:35%;
    position:relative;
    top:20%;
    left:4%;
   }
   body{
    width:100%;

   }
  
    #sec {
  background-image: url("backbody.png");
  background-repeat: no repeat;
  background-width:20px;
  width:80%;
  height:auto;
  position:relative;
  top:-78.5%;
  left:9%;
  

}

    nav {
      display: flex;
     gap:80px;
    
    
      }

    nav a{
      position:relative;
      top:10%;
      left:70%;
      
      text-decoration: none;
      color: white;
      background-color: blue;
    }

    body {
      background-image: url("back.jpg");
      background-repeat: no-repeat;
      height:auto;
  
  
    }

    #asidd {
      position:relative;
    top:0%;
      left:0%;
      width:9%;
      background-color: powderblue;
      overflow-y: scroll;
      line-height: 50px;
      margin-left:0px;
      height:510px;
      padding: 2px;
      color:blue;

    }

    #pos {
      position: relative;
      left:25%;
      top:-155%;
    
      background-color: black;
      padding-top: 15px;
      width:75%;
   border:none;
     height:500px;
      margin-right:14px
  
    }

    #foot {
      position: absolute;
      top: 598px;
      left: 0px;
      border: 2px solid gray;
      background-color: lightyellow;
      background-size: 300px;
      color: black;
      padding: 40px;
      padding-left: 1350px;
      padding-right: 50px;
      margin-left: 0px;
    }

    .logo {
      position: absolute;
      top: 680px;
      left: 1150px;
      display: inline-flex;
      gap: 10px;
    }
