<style>
    #nel {
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 0;
      color:red;
      margin-left: 100px;
      height: 100px;
      padding-top: 20px;
      width: 450px;
      font-size: 36px;
    }

    #sec {
      background-image: url("backbody.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 1335px;
      height: 625px;
      position: absolute;
      top: 100px;
      left: 190px;
      gap: 80px;
    }

    nav {
      display: flex;
      position: absolute;
      top: 80px;
      left: 1110px;
      gap: 80px;
    }

    nav a {
      text-decoration: none;
      color: white;
      background-color: blue;
    }

    body {
      background-image: url("back.jpg");
      background-repeat: no-repeat;
      margin: 0px;
      padding: 0px;
    }

    #asid {
      position: absolute;
      top: 85px;
      left: 0px;
      background-color: powderblue;
      overflow-y: scroll;
      line-height: 50px;
      margin-left: 0px;
      height: 550px;
      padding: 2px;
      color:blue;

    }

    #pos {
      position: absolute;
      left: 400px;
      top: 100px;
      background-color: black;
      padding-top: 15px;
      width: 1145px;
      height: 420px;
    }

    #foot {
      position: absolute;
      top: 598px;
      left: 0px;
      border: 2px solid gray;
      background-color: lightyellow;
      background-size: 300px;
      color: black;
      padding: 40px;
      padding-left: 1350px;
      padding-right: 50px;
      margin-left: 0px;
    }

    .logo {
      position: absolute;
      top: 680px;
      left: 1150px;
      display: inline-flex;
      gap: 10px;
    }
  </style>